@import "../../styles/mixins/media.scss";

.menu {
    list-style: none;
    display: flex;
    justify-content: center;
    background: linear-gradient(114.99deg, #471CA9 -0.99%, #5736A3 54.28%, #4B2A99 78.99%);
    box-shadow: -2.5777px 6.87386px 20.6216px rgba(0, 0, 0, 0.23);
}

.link {
    font-size: 36px;
    text-decoration: none;
    color: #EBD8FF;
    display: inline-block;
    padding: 10px 15px;
    
}

.link:global(.active) {
    font-weight: bold;
}