.menu {
    list-style: none;
    display: flex;
    justify-content: center;
    box-shadow: -1px 0px 1px rgb(0 0 0 / 12%), -12px 11px 15px rgb(0 0 0 / 6%),
    1px 4px 6px rgb(0 0 0 / 16%);
}

.link {
    font-size: 36px;
    text-decoration: none;
    color: #2196f3 ;
    display: inline-block;
    padding: 10px 15px;
    /* font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; */
}

.link:global(.active) {
    font-weight: bold;
}