@import "./src/styles/mixins/media";

.listWrapper {
    width: 100%;
    height: 460px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 24px; 
    // column-gap: 24px;
    height: 460px;
    // list-style: none;

    @include tablet {
        margin-top: 40px;
    }

    @include tabletAndDesktop {
        row-gap: 32px;
        column-gap: 24px;
    }

    @include desktop {
        margin-top: 42px;
    } 
}